/* @import "/client/src/index.css"  */

#root {

  text-align: center;

  background-color: var(--clr-bg);
}

.is-flex{
      display : flex;
}

.is-center{
  width: 100%;
      display : flex;
      flex-direction: column;
      align-items: center;
}