.family_btn {
  background-color: var(--clr-bg) !important;
  color: var(--clr-primary-dark) !important;
  box-shadow: none !important;
  /* border: 2px solid var(--clr-primary-dark) !important; */
  border-bottom: 2px solid var(--clr-primary-dark) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0%;
}

.family_btn:hover {
  background-color: var(--clr-primary-light) !important;
  color: var(--clr-surface) !important;
}

.range-slider {
  flex-direction: row;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  accent-color: var(--clr-secondary);
  width: 250px;
  height: 16px;
  border-radius: 50%;
  align-items: center;
}

.slider::-webkit-slider-runnable-track {
  background: var(--clr-primary);
  width: 250px;
  height: 18px;
  border-radius: 12%;
  align-items: center;
}

.slider::-moz-range-track {
  background: var(--clr-primary);
  width: 200px;
  height: 18px;
  border-radius: 12%;
  align-items: center;
} /* pour firefox */
