.carousel{
    display: flex;
    justify-content: center;


}

.car-btn {
    /* position: absolute; */
    background-color: rgba(82, 121, 204, 0.048);
    flex-shrink: 0;
    width: 150px;
    height: 305px;
    border: 0;
    transition: background-color 0.5s;
    font-size: larger;

}

.car-btn:hover {
    /* position: absolute; */
    background-color: rgba(82, 121, 204, 0.342);
    
}



.left {
    transform: translate(150px);

}

.right {
    transform: translate(-150px);

}
