.product-card{
    flex-direction: column;
    padding : 3px;
    max-width: 500px;
    background-color: var(--clr-primary-dark);
    color: rgb(255, 255, 255);

}

.price-btn{
    display: flex;
    justify-content: center;
    gap : 2rem

} 